<h1>Date time picker</h1>
<form [formGroup]="myForm">
  <hr>
  <h2>Only ngModel</h2>
  <input [(ngModel)]="datesOnlyModel" [selectMode]="'rangeFrom'" [owlDateTimeTrigger]="dateFromOnlyModel"
    [owlDateTime]="dateFromOnlyModel" placeholder="insert date from">
  <owl-date-time [firstDayOfWeek]="1" #dateFromOnlyModel [pickerType]="'both'" />

  <input [(ngModel)]="datesOnlyModel" [selectMode]="'rangeTo'" [owlDateTimeTrigger]="dateToOnlyModel"
    [owlDateTime]="dateToOnlyModel" placeholder="insert date to">
  <owl-date-time [firstDayOfWeek]="1" #dateToOnlyModel [pickerType]="'both'" />

  <hr>
  <h2>Only formControl</h2>
  <input formControlName="datesOnlyFormControl" [selectMode]="'rangeFrom'"
    [owlDateTimeTrigger]="dateFromOnlyFormControl" [owlDateTime]="dateFromOnlyFormControl"
    placeholder="insert date from">
  <owl-date-time [firstDayOfWeek]="1" #dateFromOnlyFormControl [pickerType]="'both'" />

  <input formControlName="datesOnlyFormControl" [selectMode]="'rangeTo'" [owlDateTimeTrigger]="dateToOnlyFormControl"
    [owlDateTime]="dateToOnlyFormControl" placeholder="insert date to">
  <owl-date-time [firstDayOfWeek]="1" #dateToOnlyFormControl [pickerType]="'both'" />

  {{myForm.controls.datesOnlyFormControl.value ?? [] | json}}

  <hr>
  <h2>
    Both ngModel and formControl (<a href="https://angular.io/api/forms/FormControlName#use-with-ngmodel">deprecated
      usage</a>)
  </h2>
  <input formControlName="datesWithModelAndFormControl" [(ngModel)]="myForm.controls.datesWithModelAndFormControl.value"
    [selectMode]="'rangeFrom'" [owlDateTimeTrigger]="dateFromWithModelAndFormControl"
    [owlDateTime]="dateFromWithModelAndFormControl" placeholder="insert date from">
  <owl-date-time [firstDayOfWeek]="1" #dateFromWithModelAndFormControl [pickerType]="'both'" />

  <input formControlName="datesWithModelAndFormControl" [(ngModel)]="myForm.controls.datesWithModelAndFormControl.value"
    [selectMode]="'rangeTo'" [owlDateTimeTrigger]="dateToWithModelAndFormControl"
    [owlDateTime]="dateToWithModelAndFormControl" placeholder="insert date to">
  <owl-date-time [firstDayOfWeek]="1" #dateToWithModelAndFormControl [pickerType]="'both'" />

  {{myForm.controls.datesWithModelAndFormControl.value ?? [] | json}}

  <hr>
</form>
